<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pixtack紫陽花2nd.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Pixtack紫陽花2nd.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Pixtack紫陽花2nd.Settings1>
            <setting name="MainWindow_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindow_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindow_Bounds" serializeAs="String">
                <value>0,0,902,703</value>
            </setting>
        </Pixtack紫陽花2nd.Settings1>
        <Pixtack紫陽花2nd.MySettings>
            <setting name="MainWindow_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindow_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindow_Bounds" serializeAs="String">
                <value>0,0,902,703</value>
            </setting>
        </Pixtack紫陽花2nd.MySettings>
    </userSettings>
</configuration>